useDynLib("PDEnaiveBayes", .registration = TRUE)

#exportPattern("^[[:alpha:]]+")
export(ApplyBayesTheorem4Likelihoods)
export(getPriors)
export(PlotBayesianDecision2D)
export(PlotLikelihoodFuns)
export(PlotLikelihoods)
export(PlotNaiveBayes)
export(PlotPosteriors)
export(predict.PDEbayes)
export(Predict_naiveBayes)
export(Train_naiveBayes)
export(Train_naiveBayes_multicore)
export(ParetoRadius_faster)

S3method(predict, PDEbayes)
exportClasses(PDEbayes)     # if you’re also defining a new class
exportMethods(predict)     # for S4-style exports, if needed

import("methods")

importFrom("graphics", "plot", "abline", "layout", "lines", "par", "points")
importFrom("stats", "dnorm", "sd", "approx", "density", "dist", "fft", "median", "quantile", "runif")
importFrom("grDevices", "col2rgb", "heat.colors", "colorRampPalette")
importFrom("utils", "tail")
importFrom("plotly", subplot, layout, add_trace, plot_ly)


import(pracma)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel,RcppParallelLibs)
